In [10]:
#Importing csv
import pandas as pd
df = pd.read_csv('cardio_train.csv',sep=";")

In [11]:
print(df)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]

In [13]:
#Taking head data for observation
#1 wommen
#2 men
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [15]:
#Check the data type of each column.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [20]:
#Determine if any column has null/missing values.
#df.isnull().sum()
#Checks every value in the DataFrame.
# Returns True if the value is NaN (null / missing).
# Returns False if the value is not null.

# .sum()
# In Pandas, True = 1, False = 0.
# So, summing counts how many True values (nulls) are present column-wise.

df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [22]:
#Get statistical summaries for numerical columns
#Check the min and max values, especially for age, height, weight, ap_hi, and ap_lo. Look for obvious outliers (e.g., negative blood pressure).
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
##From week One i observed that 
#Age Conversion: Note that the age feature is given in days, and you must convert it to years in Week 2.
#Outlier/Anomalies: Note any obvious anomalies, such as extreme values in blood pressure (ap_hi, ap_lo) or height/weight that fall outside of reasonable human limits.
#Feature Types: Classify the columns as Objective (e.g., Age), Examination (e.g., BP), or Subjective (e.g., Smoking status).