In [28]:
import pandas as pd
import numpy as np
df = pd.read_csv('cardio_train.csv',sep=";")

In [29]:
#For showing row and column
print("Loaded shape:",df.shape)

Loaded shape: (70000, 13)

In [30]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [31]:
#Drop Redundant Column: The id column is a unique identifier and adds no predictive value, so you should remove it.
#axis=0 → operate on rows
#✔️ axis=1 → operate on columns
df.drop('id',axis=1,inplace=True)

In [25]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [34]:
#Convert Age: from days to years
# We use integer division or casting to get the age in full years.
#age column amj rese we just add age_years
df['age_years'] = (df['age'] / 365.25).astype(int)

In [35]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0,52
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1,61
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1,52
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56

In [36]:
# Drop the original 'age' column (in days) now that we have 'age_years'
df = df.drop('age', axis=1)

In [37]:
df

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
0,2,168,62.0,110,80,1,1,0,0,1,0,50
1,1,156,85.0,140,90,3,1,0,0,1,1,55
2,1,165,64.0,130,70,3,1,0,0,0,1,51
3,2,169,82.0,150,100,1,1,0,0,1,1,48
4,1,156,56.0,100,60,1,1,0,0,0,0,47
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,2,168,76.0,120,80,1,1,1,0,1,0,52
69996,1,158,126.0,140,90,2,2,0,0,1,1,61
69997,2,183,105.0,180,90,3,1,0,1,0,1,52
69998,1,163,72.0,135,80,1,2,0,0,0,1,61
69999,1,170,72.0,120,80,2,1,0,0,1,0,56

In [38]:
#Create BMI Feature for feature reduction (Dimensionality Reduction)
#Convert height from cm to meters (height / 100)
df['height_m'] = df['height'] / 100

In [39]:
#Calculate BMI
df['bmi'] = df['weight']/(df['height_m']**2)

In [40]:
df = df.drop('height_m', axis=1)

In [41]:
#Demo
print("\nBMI creation successful. Displaying first 5 BMI values:")
print(df[['weight', 'height', 'bmi']].head())

BMI creation successful. Displaying first 5 BMI values:
   weight  height        bmi
0    62.0     168  21.967120
1    85.0     156  34.927679
2    64.0     165  23.507805
3    82.0     169  28.710479
4    56.0     156  23.011177

In [42]:
print("Feature Engineering Summary:")
print(df.info())

Feature Engineering Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gender       70000 non-null  int64
 1   height       70000 non-null  int64
 2   weight       70000 non-null  float64
 3   ap_hi        70000 non-null  int64
 4   ap_lo        70000 non-null  int64
 5   cholesterol  70000 non-null  int64
 6   gluc         70000 non-null  int64
 7   smoke        70000 non-null  int64
 8   alco         70000 non-null  int64
 9   active       70000 non-null  int64
 10  cardio       70000 non-null  int64
 11  age_years    70000 non-null  int32
 12  bmi          70000 non-null  float64
dtypes: float64(2), int32(1), int64(10)
memory usage: 6.7 MB
None